# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*node_modules*
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
run.sh
archive
posts/autodiff/note/diff-zoo/
posts/autodiff/note/FiniteDifferences.jl/
/_almo_output
tmp.html
public/cv/fontawesome.sty
public/cv/main.aux
public/cv/main.fdb_latexmk
public/cv/main.fls
