.background-focusable {
    transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease;
    border-radius: 0;
}

[data-webtui-theme="catppuccin-mocha"] .background-focusable {
    background-color: rgba(186, 194, 222, 0.05);
}

.background-focusable[data-has-url="true"] {
    cursor: pointer;
}

.background-focusable.keyboard-focused {
    background-color: var(--accent0);
    color: var(--background0);
    transform: translateX(0.5ch);
}

.background-focusable.keyboard-focused a {
    color: var(--background0);
}
