.header {
    border-bottom: 1px solid var(--foreground2);
    padding: 0.25rem 0;
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: blur(4px);
    background-color: var(--background0);
}

.header-container {
    max-width: 80rem;
    max-height: 2rem;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;
    gap: 1rem;
}

.header-controls {
    align-items: center;
    gap: 0.5rem;
}

.header-button {
    font-size: 9px;
    font-weight: bold;
    font-family: sans-serif;
    min-width: 2rem;
}

@media (min-width: 768px) {
    .header {
        display: none;
    }
}

@media (min-width: 640px) {
    .header-container {
        padding: 0 1.5rem;
    }
}

@media (min-width: 1024px) {
    .header-container {
        padding: 0 2rem;
    }
}