.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.social-link {
    transition: color 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground1);
    text-decoration: none;
}

.social-link:hover {
    color: var(--accent0);
}

.social-icon {
    width: 2rem;
    height: 2rem;
}